<phpunit bootstrap="tests/bootstrap.php">
	<testsuites>
		<testsuite name="PlutoniumLibrary">
			<file>tests/IncludesTest.php</file>
			<file>tests/ReferencesTest.php</file>

			<file>tests/Plutonium/FunctionsTest.php</file>
			<file>tests/Plutonium/LoaderTest.php</file>
			<file>tests/Plutonium/ObjectTest.php</file>
			<file>tests/Plutonium/FilterObjectTest.php</file>

			<file>tests/Plutonium/Globalization/LocaleTest.php</file>
			<file>tests/Plutonium/Utility/AddressTest.php</file>

			<file>tests/Plutonium/Http/SessionTest.php</file>
			<file>tests/Plutonium/Http/RequestTest.php</file>
			<file>tests/Plutonium/Http/ResponseTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
