<phpunit bootstrap="tests/bootstrap.php">
	<testsuites>
		<testsuite name="Plutonium_Library">
			<!--<file>tests/Plutonium/LoaderTest.php</file>-->

			<file>tests/Plutonium/FunctionsTest.php</file>

			<file>tests/Plutonium/ObjectTest.php</file>
			<file>tests/Plutonium/Object/FilterTest.php</file>

			<file>tests/Plutonium/SessionTest.php</file>
			<file>tests/Plutonium/RequestTest.php</file>
			<file>tests/Plutonium/ResponseTest.php</file>

			<file>tests/Plutonium/LanguageTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>