<phpunit bootstrap="tests/bootstrap.php">
	<testsuites>
		<testsuite name="Plutonium_Library">
			<file>tests/IncludesTest.php</file>

			<file>tests/Plutonium/FunctionsTest.php</file>

			<file>tests/Plutonium/Utility/AddressTest.php</file>

			<file>tests/Plutonium/ObjectTest.php</file>
			<file>tests/Plutonium/Object/FilterTest.php</file>

			<file>tests/Plutonium/SessionTest.php</file>
			<file>tests/Plutonium/RequestTest.php</file>
			<file>tests/Plutonium/ResponseTest.php</file>

			<file>tests/Plutonium/LanguageTest.php</file>
			<!--<file>tests/Plutonium/DocumentTest.php</file>-->

			<!--<file>tests/Plutonium/ThemeTest.php</file>-->
			<!--<file>tests/Plutonium/ModuleTest.php</file>-->
			<!--<file>tests/Plutonium/WidgetTest.php</file>-->
		</testsuite>
	</testsuites>
</phpunit>